@page
@model WebSurveyApplication.Pages.SurveyQuestionModel
@{
}
<div class="mx-auto text-center col-5">
    <form method="post">
        <div class="card">
            <div class="card-header">
                <label class="form-label">@Model.Question</label>
            </div>

            <div class="card-body">
                @if (Model.QuestionType == "string")
                {
                    <input class="form-control" type="text" autocomplete="off" asp-for="Answer" placeholder="Input your Anwer here...">
                }
                else
                {
                    <button class="btn btn-outline-info form-control" asp-action="@Model.AnswerBool = @true" type="submit">Yes</button>
                    <br />
                    <button class="btn btn-outline-info form-control" asp-action="@Model.AnswerBool = @false" type="submit">No</button>
                }
            </div>

            <div class="card-footer">
                @if (Model.QuestionType == "string")
                {
                    <button class="btn btn-outline-info" type="submit">Submit</button>
                }
            </div>
        </div>
    </form>
</div>

